<div class="container mt-3">

  <div class="row">

    <div class="col-lg-12">
      <label for="cantidad" class="form-label">Ingresar Cantidad</label>
      <input type="number" class="form-control form-control-lg" [(ngModel)]="cantidad" id="cantidad">
    </div>

  </div>

  <div class="row">

    <div class="col-lg-6">
      <label for="tengo">Moneda Que Tiene</label>
      <select name="tengo" id="tengo" [(ngModel)]="tengo" class="form-control form-control-lg">
        <option *ngFor="let moneda of monedas">{{ moneda }}</option>
      </select>
    </div>

    <div class="col-lg-6">
      <label for="quiero">Moneda Que Necesita</label>
      <select name="quiero" id="quiero" [(ngModel)]="quiero"  class="form-control form-control-lg">
        <option *ngFor="let moneda of monedas">{{ moneda }}</option>
      </select>
    </div>

  </div>

  <h5 class="text-center mt-5">
    <span class="badge bg-success">{{ cantidad }} {{ tengo }}</span>
    <span class="badge bg-secondary">SON</span>
    <span class="badge bg-success">{{ total }} {{ quiero }}</span>
  </h5>

</div>
